main{
    margin: 0 40px;
}

main h1{
    text-align: center;
    padding: 10px;
    font-size: 2.5rem;
}

.card{
    display: flex;
    border: 1px solid black;
}

.section{
    padding: 20px;
}

.commit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.commit i{
    font-size: 2.5rem;
    color: red;
}

.card1{
    border: 1px solid black;
    padding: 15px;
}

.ad{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}