
.banner{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img{
    width: 90%;
    height: 100%;
}

.service{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
}

.services{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 7px 5px;
}

.services p,h3{
    margin: 0;
}

.service i{
    font-size: 1.5rem;
    color: red;
}

