
.banner{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img{
    width: 90%;
    height: 100%;
}

.service{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
    padding: 10px;
}

.services{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;  
}

.services p,h3{
    margin: 0;
}

.services h3{
    font-size: 1.5rem;
}

.services p{
    font-size: 1.2rem;
}

.service i{
    font-size: 1.8rem;
    color: red;
}

.vertical{
    border-left: 2px solid black;
    height: 2rem;
}

.categories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 55px;
}

.category{
    width: 23.5%;
    background-color: white;
    border: 1px solid black;
    margin: 0;
   
}

.category img{
        width: 100%;
        object-fit: cover;
}

.category h2{
    text-align: center;
}


.ads{
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 500px;
    margin: 20px;
    padding: 20px;
}

.ads_1{
    width: 55%;
}

.ads_1 img{
    width: 100%;
    height: 100%;
}

.ads_2{
    width: 35%;
}

.ads_2 img{
  width: 100%;
  height: 100%;
}
