body{
    background-color: #ededed;
    margin: 0;
}

nav{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
}

nav a{
    text-decoration: none;
    padding: 15px;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

nav a:hover{
    background-color: red;
    color: white;
    border-radius: 10px;
}

.title{
     background-color: #b01605;
     padding: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

font{
   font-size: 5rem;
   color : white;
   padding: 10px;
   padding-left: 20px;
}

.profile{
    font-size: 1.5rem;
    padding: 10px;
}

.profile i{
    padding: 10px;
}

main{
    margin: 10px 50px;
}

h1{
    margin: 40px;
    padding-top: 50px;
    font-family: 'Calibri';
    margin: 0;
}

.product{
    display: flex;
    justify-content: space-evenly;

}

.content{
    width: 18%;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.content img{
    max-width: 80%;
    height: 50%;
    padding: 25px;
}

.content h2,p{
    margin: 0;
    font-family: 'Calibri';
}

.content button{
    width: 100%;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
}

.content button:hover{
    background-color: white;
    color: black;
}

.price{
    font-size: 1.2rem;
    color: red;
    margin: 5px;
}

.qtn{
    color: green;
    margin: 5px;
}

footer{
    background-color: #b01605;
    padding: 10px;
    padding-bottom: 20px;
}

.panel_1{
    display: flex;
    justify-content: space-evenly;
}

.foot{
    padding: 10px;
    margin: 10px;
}


.foot a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
}

.connect{
    padding: 10px;
    margin: 10px;
}

.connect a{
    color: white;
    padding: 10px;
}

footer h2{
    color: white;
    font-weight: bold;
}

footer hr{
    width: 80%;
    color: white;
    align-items: center;
}

.panel_2 p{
   color: white;
   text-align: center;
}


@media  screen and (max-width:600px) {

    main{
        margin: 10px;
    }

    nav{
        flex-wrap: wrap;
    }

    .product{
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }

    .content{
        width:100% ;
        height: 400px;
    }

    .panel_1{
        flex-wrap: wrap;
    }

    .foot{
        max-width: 43%;
        padding: 10px;
        margin: 0;
    }

    .connect{
        max-width: 43%;
        padding: 10px;
        margin: 0;
    }
    
}


