body{
    background-color: antiquewhite;
}

nav{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

